<!--  CONTENT BOX START  -->
<section class="content">
    <div class="content__wrapper">
        <div class="content__grid">
           
            <!--  Text START  -->
            <div class="content__list">
                <p class="content__text">SKLEP/POŚCIEL/BAWEŁNA EGIPSKA/<span>SATINSTITCH</span></p>
            </div>
            <!--  Text END  -->
            
            <!--  Left box START  -->
            <div class="slider">
                
                
                <!--  Gallery START  -->
                <div class="slider__gallery">
                   
                    <!--  Small images START  -->
                    <div class="slider__images">
                        <div class="image__box">
                            <img class="image" src="/assets/images/img-1.jpg" alt="image 1">
                        </div>
                        <div class="image__box">
                            <img class="image" src="/assets/images/img-2.jpg" alt="image 2">
                        </div>
                        <div class="image__box">
                            <img class="image" src="/assets/images/img-3.jpg" alt="image 3">
                        </div>
                    </div>
                    <!--  Small images END  -->

                    <!--  Main image START  -->
                    <div class="slider__carousel">
                        <div class="carousel__cell">
                            <img class="carousel__img" src="/assets/images/img-1.jpg" alt="image 1">
                        </div>
                        <div class="carousel__cell">
                            <img class="carousel__img" src="/assets/images/img-2.jpg" alt="image 2">
                        </div>
                        <div class="carousel__cell">
                            <img class="carousel__img" src="/assets/images/img-3.jpg" alt="image 3">
                        </div>
                    </div>
                    <!--  Main image END  -->
                </div>
                <!--  Left box gallery END  -->
            </div>
            <!--  Left box END  -->
            
            <!--  Right box START  -->
            <div class="form">
            </div>
            <!--  Right box END  -->
        </div>
    </div>
</section>
<!--  CONTENT BOX END  -->